<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">

    <a class=" navbar-brand" routerLink="" style="color: white;">
      <img class="zoom img-fluid" src="https://i.ibb.co/Zf099Zt/Around-the-World-2-1.png" style="float: left; height: 40px;">
    </a>

    <button class="navbar-toggler" style="outline:0px !important;
    -webkit-appearance:none;" type="button" (click)="openSidenav()">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <button style="background-color: white; color: #c4224c; border-radius: 8px; margin: 7px 7px 7px 0;" class="btn" routerLink="/partyorders">Party Orders</button>
      </li>

      <li class="nav-item">
          <a class="nav-link" style="color: white;" routerLink="/menu">Menu</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" style="color: white; cursor: pointer;" *ngIf="!loginStatus" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#LoginModalCenter">LogIn</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" style="color: white;" routerLink="/contact">Contact</a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" style="color: white;" routerLink="/aboutus">AboutUs</a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" style="color: white;" routerLink="/offers">Offers</a>
      </li>



      <li class="nav-item dropdown" *ngIf="loginStatus">

        <a class="nav-link dropbtn" style="color: white;">
          <i class="fas fa-user"></i></a>

          <div class="dropdown-content dropdown-menu-right">
          <a routerLink="/myorders">My Orders</a>
          <a routerLink="/myaddress">My Address</a>
          <a routerLink="/contact">Help</a>
          <a (click)="logout()">Logout</a>
          </div>
    </li>


    </ul>

  </div>
</div>
</nav>

<!-- The Modal for Internet Connection -->
<div class="modal fade" id="net">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-center text-white bg-danger">
  
        <!-- Modal Header -->
        <div class="modal-header" style="padding: 2px 10px 2px 10px;">
          <h4 class="modal-title">No Internet Connection</h4>
          <!-- <button type="button" class="close" data-dismiss="modal" style="padding: 24px 20px 5px 5px;">&times;</button> -->
        </div>
  
        <!-- Modal body -->
        <div class="modal-body" style="padding: 2rem;">
          <p>Something went wrong with your Internet Connection, Please try to Refresh the page again.</p>
          <a routerLink ="/menu" class="btn btn-success" data-dismiss="modal" style="cursor: pointer">Try Again</a>
        </div>
  
      </div>
    </div>
  </div>


  <!-- The Modal for FeedBack -->
      <div class="modal fade" id="feedback">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center; color: #c4224c;">How Would You Rate Us ?</h4>
              <button type="button" class="close" data-dismiss="modal" style="padding: 24px 20px 5px 5px;" (click)= "cancelFeedback()">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">

                <form [formGroup]="createForm" class="create-form">
                  
                  <div class="row">
        
                    <div class="col-sm-12 form-group">
                      <h5>Overall Experience</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="overall" id="o_good" value="1" #overall>
                            <label class="form-check-label" for="o_good">Good</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="overall" id="o_vgood" value="2" #overall>
                            <label class="form-check-label" for="o_vgood">Very Good</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="overall" id="o_great" value="3" #overall>
                            <label class="form-check-label" for="o_great">Great</label>
                          </div>
                      <!-- <input class="form-control" id="overall" placeholder="Overall" type="text" required #overall> -->
                      <hr class="mb-6">
                    </div> 
          
                    <div class="col-sm-12 form-group">
                        <h5>Delivery Experience</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input " type="radio" formControlName="behavior" id="d_good" value="1" #behavior>
                            <label class="form-check-label" for="d_good">Good</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="behavior" id="d_vgood" value="2" #behavior>
                            <label class="form-check-label" for="d_vgood">Very Good</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="behavior" id="d_great" value="3" #behavior>
                            <label class="form-check-label" for="d_great">Great</label>
                          </div>
                      <!-- <input class="form-control" id="behavior" placeholder="Behavior" type="text" required #behavior> -->
                      <hr class="mb-6">
                    </div>
          
                    <div class="col-sm-12 form-group">
                        <h5>Quality Experience</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="packaging" id="q_good" value="1" #packaging>
                            <label class="form-check-label" for="q_good">Good</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="packaging" id="q_vgood" value="2" #packaging>
                            <label class="form-check-label" for="q_vgood">Very Good</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="packaging" id="q_great" value="3" #packaging>
                            <label class="form-check-label" for="q_great">Great</label>
                          </div>
                      <!-- <input class="form-control" id="packaging" placeholder="Packaging" type="number" required #packaging> -->
                      <hr class="mb-6">
                    </div>
        
                    <div class="col-sm-12 form-group">
                        <h5>Timely Experience</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="timely" id="t_good" value="1" #timely>
                            <label class="form-check-label" for="t_good">Good</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="timely" id="t_vgood" value="2" #timely>
                            <label class="form-check-label" for="t_vgood">Very Good</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="timely" id="t_great" value="3" #timely>
                            <label class="form-check-label" for="t_great">Great</label>
                          </div>
                        <!-- <input class="form-control" id="timely" placeholder="Timely" type="number" required #timely> -->
                        <hr class="mb-6">
                    </div>
        
                  </div>
                  
                  <div class="row text-center">
                    <div class="col form-group">
                      <button class="btn" type="submit" data-dismiss="modal" (click)= "sendFeedback(overall.value, behavior.value, packaging.value, timely.value)" style="background-color: #c4224c; color: white;">Submit</button>
                    </div>
                    <div class="col">
                        <button class="btn" data-dismiss="modal" style="background-color: #c4224c; color: white;" (click)= "cancelFeedback()">Skip</button>
                      </div>
                  </div>
          
                </form>
            </div>
      
          </div>
        </div>
      </div>


  <div class="container text-center">
    <!-- Ocassional ErrorModal -->
    <div class="modal fade" id="occError">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{error? 'Error' : 'Success'}}</h4>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            <p>{{errorMsg}}</p>
          </div>
    
        </div>
      </div>
    </div>
    </div>

<!-- <app-ocassionaloff *ngIf="ocassionaloff" #ocassional></app-ocassionaloff>  -->
<app-sidenav #sidenav></app-sidenav>
<app-login-signup></app-login-signup>
