
<div class="loader-wrapper">
	<div class="loader">
    <div class="roller"></div>
    <div class="roller"></div>
  </div>
  
  <div id="loader2" class="loader">
    <div class="roller"></div>
    <div class="roller"></div>
  </div>
  
  <div id="loader3" class="loader">
    <div class="roller"></div>
    <div class="roller"></div>
  </div>
</div>


<!-- <div>
    <img class="d-block w-100" style="max-height: 20em;" src="src/assets/pattern_multiple.png" width="1280" alt="First slide">
</div> -->