
<div class="text-center" style="color: #c4224c; padding-bottom: 0px;"><h2 style="padding-bottom: 0px;">CHECKOUT</h2></div>
<hr class="mb-4" style="margin-bottom: 1rem!important">

<div class ="load" style="min-height: 1em; margin-bottom: 30em" *ngIf="loading && verifyLoader">
    <app-loader></app-loader>
</div>

<div class="container" *ngIf = "!(loading && verifyLoader)">
<h2 class="text-center" style="color: #c4224c;">Review Cart</h2>
<div class="container">
  <div class="top">
    <h4 class="d-flex justify-content-between align-items-center mb-3" >
      <span class="text-muted">Your cart</span>
      <span class="badge badge-secondary badge-pill" *ngIf="cartItems.length > 0">{{itemsCount}}</span>
    </h4>
    <ul class="list-group mb-3">
      <li *ngFor="let item of cartItems" class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">{{item.product.name }} x {{item.quantity}}</h6>
          <small class="text-muted">{{item.product.description}}</small>
        </div>
        <span class="text-muted">₹{{item.price * item.quantity}}/-</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
          <span>Delivery Charges</span>
          <span class="float-right">₹{{deliveryCharges()}}/-</span>
      </li>

      <li *ngIf="couponSucess" class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
          <h6 class="my-0">Promo Code</h6>
          <small><strong>{{appliedCoupon?.code}}</strong></small>
        </div>
        <span class="text-success" *ngIf = "discountcpn !== 0">- ₹{{discountcpn}}/-</span>
        <span class="text-success" *ngIf = "discountcpn === 0">{{couponmsg}}</span>
      </li>

      <li class="list-group-item d-flex justify-content-between">
        <span *ngIf = "!theCheckbox">Total (INR)</span>
        <span *ngIf = "theCheckbox" style="color: green">Now You Pay</span>
        
        <strong *ngIf = "!theCheckbox">₹{{cartTotal()}}/-</strong>

        <div *ngIf = "theCheckbox && wallBal?.userData?.wallet_balance <= cartTotal()">
            <strong class="text-muted">₹{{cartTotal()}}&nbsp; - &nbsp;₹{{wallBal?.userData?.wallet_balance}}&nbsp; = &nbsp;<strong style="color: black">₹{{walletUsedTotal()}}/- </strong></strong>
        </div>

        <div *ngIf = "theCheckbox && wallBal?.userData?.wallet_balance > cartTotal()">
          <strong class="text-muted">₹{{wallBal?.userData?.wallet_balance}}&nbsp; - &nbsp;₹{{cartTotal()}}&nbsp; = &nbsp;<strong style="color: black">₹{{walletUsedTotal()}}/- </strong></strong>
        </div>
      </li>

      <li class="list-group-item justify-content-between">
        <form [formGroup]="couponForm">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Coupon Code..." formControlName="coupon">
            <div class="input-group-append">
              <button class="btn btn-rounded" style="background-color: #c4224c; color: white;" [class.disabled]="disabledOrder || loading" (click)="applyCoupon()"><span *ngIf="!disabledOrder">Apply</span><app-dot-loader *ngIf="disabledOrder"></app-dot-loader></button>
            </div>
          </div>
          <div class="row ">
            <div class="col">
             <span style="padding-top: 3px;" class="error" *ngIf="triedCoupon && !couponSucess">{{couponErrorMsg}}</span>
             <span style="padding-top: 3px;" class="success" *ngIf="triedCoupon && couponSucess">Applied Successfully</span>
            </div>
          </div>
        </form>
      </li>

    </ul>

    <hr class="mb-6">
  </div>
</div>


<div class="container">
  <h2 class=" text-center" style="color: #c4224c;" *ngIf="useraddress.length == 0">Billing Address</h2>
  <h2 class=" text-center" style="color: #c4224c;" *ngIf="useraddress.length > 0">Select Delivery Address</h2>
  <hr class="mb-6">
  <form class="needs-validation" [formGroup]="addressForm">
    <div *ngIf="useraddress.length == 0">
    <div class="row">

      <div class="col-md-6">
        <label for="firstName">Your Name</label>
        <input type="text" formControlName="first_name" class="form-control" id="firstName" placeholder="Your Delecious Name" value=""
          required="">
        <div class="invalid-feedback">
          Valid name is required.
        </div>
      </div>

      <div class="col-md-6">
          <label for="title">Title</label>
          <input type="text" formControlName="title" class="form-control" id="title" placeholder="Title (eg. HOME, OFFICE, etc)...." value=""
            required="">
          <div class="invalid-feedback">
            Valid title is required.
          </div>
        </div>

    </div>

    <div class="mb-3">
      <label for="address">Address</label>
      <input type="text" formControlName="address" class="form-control" id="address" placeholder="1234 Main St"
        required="">
      <div class="invalid-feedback">
        Please enter your shipping address.
      </div>
    </div>

    <div class="mb-3">
      <label for="address2">Address Line 2 <span class="text-muted">(Optional)</span></label>
      <input type="text" formControlName="address2" class="form-control" id="address2" placeholder="Apartment or suite">
    </div>

    <div class="row">

        <div class="col-md-3">
            <label for="Locality">Postal Code</label>
            <input type="text" class="form-control" id="locality" formControlName="pincode" placeholder="Postal Code..."
              required="">
            <div class="invalid-feedback">
              Postal Code Required.
            </div>
          </div>

      <div class="col-md-3 mb-3">
        <label for="state">State</label>
        <select class="custom-select d-block w-100"  formControlName="state" style="padding: 8px;" id="state" required="">
            <option value="" hidden>Select Your State</option>
            <option value="GTA">GTA</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>

      <div class="col-md-3">
        <label for="Locality">Locality</label>
        <select class="custom-select d-block w-100" formControlName="locality" style="padding: 8px;" id="locality" required="">
            <option value="" hidden>Select Your Locality</option>
          <ng-container *ngFor="let i of localities">
            <option *ngIf= "i.enable" >{{i.name}}</option>
          </ng-container>
        </select>
        <!-- <input type="text" class="form-control" id="locality" formControlName="locality" placeholder="Locality(eg. Samad Rd.)..."
          required=""> -->
        <div class="invalid-feedback">
          Locality required.
        </div>
      </div>

    </div>
   <!-- <hr class="mb-4"> -->
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" formControlName="save_address" id="save-info">
      <label class="custom-control-label" for="save-info">Save this information for next time</label>
    </div>
  </div>
  
<br>


  <div class="row" *ngIf="useraddress.length > 0 && !loading">
    <div class="col-lg-4 col-md-6 col-sm-6" style="margin-bottom: 10px; cursor: pointer;" *ngFor="let a of useraddress">
      <app-address-card [address]="a" [actions]="false" [selected]="selectedAddress?._id === a._id" (click)="selectAddress(a)"></app-address-card>
    </div>

        
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card" data-toggle="modal" data-target="#myModal">
              <button class="btn text" style="background-color: #c4224c; color: white;" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#myModal" (click)="resetForm();setEditMode(false);" >+
                ADDRESS</button>
            </div>
        </div>
          
  </div>


 <!-- The Modal For Address  -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="padding: 0px;">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 *ngIf="!editForm">Add New Address</h5>
          <h5 *ngIf="editForm">Update Address</h5>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="container">
            
            <form [formGroup]="createForm" class="create-form">
              <div class="row">

            <div class="col-sm-6">
              <label for="title">Title</label>
              <input type="text" id="title" placeholder="Title (eg. HOME).." formControlName="title">
            </div>

            <div class="col-sm-6">
              <label for="name">Your Name</label>
              <input type="text" id="name" placeholder="Your Delecious Name.." formControlName="first_name" >
            </div>

              <!-- <label for="name">Last Name</label>
              <input type="text" id="name" placeholder="Last Name.." formControlName="last_name" > -->

            <div class="col-sm-6">
              <label for="address">Address</label>
              <input type="text" id="address" placeholder="Your Address.." formControlName="address" >
            </div>

            <div class="col-sm-6">
              <label for="address">Address Line 2</label>
              <input type="text" id="address2" placeholder="Address Line 2.." formControlName="address2">
            </div>
              
            <div class="col-sm-6">
              <label for="pincode">Postal Code</label>
              <input type="text" id="pincode" placeholder="Postal Code" formControlName="pincode">
            </div>

            <div class="col-sm-6">
              <label for="state">State</label>
              <select id="state" formControlName="state">
                <option value="" hidden>Select Your State</option>
                <option value="GTA">GTA</option>
              </select>
            </div>

            <div class="col-sm-6">
              <label for="locality">Locality</label>
              <select id="locality" formControlName="locality">
                  <option value="" hidden>Select Your Locality</option>
                   <ng-container *ngFor="let i of localities">
                      <option *ngIf= "i.enable">{{i.name}}</option>
                  </ng-container>
                </select>
            </div>

              <!-- <input type="text" id="locality" placeholder="Locality.." formControlName="locality"> -->

              <div class="col-sm-12">
              <button class="btn button" *ngIf="editForm" type="submit"  data-dismiss="modal" id="submit"  (click)= "editSave(fetchedAddress)">Save</button>
              <button class="btn button" *ngIf="!editForm" type="submit"  data-dismiss="modal" id="submit"  (click)= "addAddress()">Save</button>
              </div>

            </div>
            </form>
           

          </div>
        </div>
      </div>
    </div>
  </div>
<br>

    <hr class="mb-4" style="margin-bottom: 1rem!important">
  </form>
</div>

<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="userban" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Oh Nooo! :( </h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <p>{{banmsg}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div class="container">
  <h2 class="text-center" style="color: #c4224c;">Payment Mode</h2>
  <hr class="mb-6">
  <div class="d-block my-3">
    <div class="custom-control custom-radio">
      <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
      <label class="custom-control-label" for="credit">Cash On Delivery</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
      <label class="custom-control-label" for="debit">Paytm On Delivery</label>
    </div>
  </div>
</div>

<!-- Special instructions part -->
<div class="container">
    <!-- <hr class="mb-6">
  <h2 class="text-center" style="color: #c4224c;">Any Special Instructions ?</h2>
  <hr class="mb-6"> -->
  <form class="card p-2" [formGroup]="instructForm">
    <div class="input-group">
      <input type="text" id="instructions" class="form-control" placeholder="Any Special Instructions ?" formControlName="instructions">
    </div>
  </form>
</div>

<div class="row">
  <div class="container">
    <!-- <hr class="mb-6"> -->
    <button class="btn btn-lg btn-block text-center" style="background-color: #c4224c; color: white;" type="button"
      (click)="confirmOrder()" [class.disabled]="disabledOrder || addressForm.invalid || loading"><span *ngIf="!disabledOrder">Place Order </span><app-dot-loader *ngIf="disabledOrder"></app-dot-loader></button>
  </div>
</div>

<div class="roww">
  <div class="col-sm-12">
    <div id="snackbar">{{toggleWallet}}</div>
  </div>
</div>

</div>
