
<div class="container">

<h2 class="my-4">Why GlobalPallet ??</h2>
  
<ul style="margin-top: 10px;">

<p><strong>We give you multiple reasons why you should prefer GlobalPallet over restaurants:</strong></p>

<li>Hygienic food for your wellness, No compromise with the hygiene.</li> 
<li>Best Quality, Enriched Taste & Fresh Food.</li>
<li>Lower prices than elite restaurants, first Compare - then Order!</li>
<li>Fast Service : Delivery in 30 - 60 minutes.</li>
<li>Free Delivery for orders above $299; else only $30 delivery charges.</li>
<li>Easy Returns : No Questions Asked. Full Refund.</li>
<li>Enjoy elite food, at your doorstep.</li>
<li>GlobalPallet WhatsApp - You can order even with your WhatsApp.</li>
<p><strong>This is why GlobalPallet is the best choice you can have.</strong></p>
</ul>
</div>