<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">About Us
    <small style="font-size: 25px;"><u>What is GlobalPallet?</u></small>
  </h1>
  <p><strong>GlobalPallet</strong> is an online Food Hub which delivers food on demand. We deliver
    various types of Food for your dining, cooked with love by us, to your doorstep.</p>

  <p>You can order online</p>

  <p><strong>GlobalPallet</strong> does not compromise with the <strong>Quality, Taste, & Hygiene</strong> of the food,
    And Therefore, is always striving to delight its customers by providing an
    delightful dine experience.</p>


</div>