<div class="container-fluid text-white" style="background-color: white;">
  <div class="row">
    <div class="col">
      <br>
      <h3>Customer Feedbacks</h3>

      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem style="outline: none !important;" class="slide">
          <h4 style="color: gray;">"This company is the best. I am so happy with the Response and Food Taste!"<br><span style="color: black;">Sameshine, Student (Seneca)</span></h4>
        </div>
        <div ngxSlickItem style="outline: none !important;" class="slide">
          <h4 style="color: gray;">"Will definitely order again, Presentation and Packaging was very nice!"<br><span style="color: black;">Muzammil Afsar, Student (Seneca)</span></h4>
        </div>
        <div ngxSlickItem style="outline: none !important;" class="slide">
          <h4 style="color: gray;">"I love the way they maintain Hygiene and Quality Taste, Keep It Up !!"<br><span style="color: black;">Mabel, Student (Seneca)</span></h4>
        </div>
      </ngx-slick-carousel>

<!-- <div id="customer" class="carousel slide" data-ride="carousel" style=" margin-bottom: 20px;">
  <ul class="carousel-indicators">
    <li data-target="#customer" data-slide-to="0" class="active"></li>
    <li data-target="#customer" data-slide-to="1"></li>
    <li data-target="#customer" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
     <div class="row" >
       <div class="col text-center" >
        <h4 class="testimonial">"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
       </div>
     </div>
    </div>
    <div class="carousel-item">
      <div class="row" >
        <div class="col text-center" >
         <h4 class="testimonial">"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
        </div>
      </div>
     </div>
    <div class="carousel-item ">
      <div class="row">
        <div class="col text-center">
         <h4 class="testimonial">"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
        </div>
      </div>
     </div>
  </div>
  <a class="carousel-control-prev" href="#customer" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#customer" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div> -->

    </div>
  </div>
</div>
