<div class="container" style="padding: 1em 0 1em 0;">
  <div class="row text-center" >
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-5 col-sm-4 col-xs-4"></div>
          <div class="col-md-2 col-sm-4 col-xs-4"><img class="img-fluid" src="https://image.flaticon.com/icons/svg/1585/1585286.svg" alt="" style="max-width: 100%;"></div>
        </div>

        <div class="row" style="font-size: 2em">
          <div class="col">
            <span >Your Order has been Confirmed.</span>
          </div>
        </div>

        <div class="row" style="font-size: 2em">
          <div class="col">
            <span >Order No: {{orderNo}}</span>
          </div>
        </div>

        <div class="row" style="font-size: 1.5em">
          <div class="col">
            <span >Go to <a style="color: #c4224c;" routerLink="/myorders">My Orders</a> for your Order Tracking Status.</span>
          </div>
        </div>


          <div class="row" style="margin-top: 2em; color:white;">
            <div class="col">
              <button style="background-color: #c4224c; color: white;" class="btn" routerLink="/menu" >Our Menu <span class="fas fa-arrow-up"></span></button>
            </div>
          </div><br>

          <div class="row" style="font-size: 1.5em">
            <div class="col">
              <span >Thanks For Ordering, Checkout Our Exciting <a style="color: #c4224c;" routerLink="/offers"> Offers</a> For More Discounts.</span>
            </div>
          </div>

      </div>
    </div>
</div>
