<div class="container-fluid text-center bla">
  <div class="row text-center"><div class="col"><h3>On-Demand Food Delivery Service In GTA</h3></div></div>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4" style="padding: 15px 10px 15px 10px; width: 33.3%;">
        <span class="far fa-check-circle logo-small" style="color: #28a745;"></span>
      <!-- <img class='img-responsive' style="max-height: 10em" src="https://icons-for-free.com/free-icons/png/512/1936913.png" class="rounded-circle" alt="" > -->
        <h4>Richness in Taste & Quality</h4>

    </div>
    <div class="col-md-2 col-sm-4 col-xs-4" style="padding: 15px 10px 15px 10px; width: 33.3%;">
        <span class="fas fa-shipping-fast logo-small" style="color: lightsalmon;"></span>
      <!-- <img class='img-responsive' style="max-height: 10em" src="https://icons-for-free.com/free-icons/png/512/1936916.png" class="rounded-circle" alt="" > -->
      <h4>Free Delivery above $ 299</h4>

    </div>
    <div class="col-md-2 col-sm-4 col-xs-4" style="padding: 15px 10px 15px 10px; width: 33.3%;">
        <span class="fas fa-heart logo-small" style="color: #c4224c;"></span>
      <!-- <img class='img-responsive' style="max-height: 10em" src="https://icons-for-free.com/free-icons/png/512/1936907.png" class="rounded-circle" alt="" > -->
      <h4>Hygiene is our top priority</h4>

    </div>

    <div class="col-md-2 col-sm-4 col-xs-4" style="padding: 15px 10px 15px 10px; width: 33.3%;">
      <span class="fas fa-history logo-small" style="color: orchid;"></span>
    <!-- <img class='img-responsive' style="max-height: 10em" src="https://icons-for-free.com/free-icons/png/512/1936913.png" class="rounded-circle" alt="" > -->
      <h4>Delivery in 15-60 minutes</h4>

  </div>
  <div class="col-md-2 col-sm-4 col-xs-4" style="padding: 15px 10px 15px 10px; width: 33.3%;">
      <span class="fas fa-shopping-cart logo-small" style="color: cornflowerblue;"></span>
    <!-- <img class='img-responsive' style="max-height: 10em" src="https://icons-for-free.com/free-icons/png/512/1936916.png" class="rounded-circle" alt="" > -->
    <h4>Easy Doorstep Return Policy</h4>

  </div>
  <div class="col-md-2 col-sm-4 col-xs-4" style="padding: 15px 10px 15px 10px; width: 33.3%;">
      <span class="fas fa-rupee-sign logo-small" style="color: goldenrod;"></span>
    <!-- <img class='img-responsive' style="max-height: 10em" src="https://icons-for-free.com/free-icons/png/512/1936907.png" class="rounded-circle" alt="" > -->
    <h4>Affordable Prices surety</h4>

  </div>
</div>
</div>
