<div class="container" style="padding: 2em 0 5em 0;">
    <div class="row text-center" >
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-4"></div>
            <div class="col-md-2 col-sm-4 col-xs-4"><img class="img-fluid" src="https://icons-for-free.com/free-icons/png/512/1398912.png" alt=""></div>
          </div>
          <div class="row" style="font-size: 2.5em">
            <div class="col">
              <span >Your Order Cancellation Request Placed Successfully.</span><br>
              <span >we'll get back to you via call for your confirmation.</span>
            </div>

          </div>
          <div class="row" style="font-size: 2.5em">
            <div class="col">
              <span>Order No: {{orderNo}}</span>
            </div>
          </div>
            <div class="row" style="margin-top: 3em;color:white;">
              <div class="col">
                <button style="background-color: #c4224c; color: white;" class="btn" routerLink="/menu" >Continue Shopping</button>
              </div>
            </div>
        </div>
      </div>
  </div>
