<div class="container col-xs-12 text-center" style="padding: 50px 0 50px 0">

    <div class="row" style="margin-right: 0px; margin-left: 0px;">
        <div class="col">
          <img class="img-responsive" style="background-position: center; padding: 30px 0px; height: 225px;" src="https://i.ibb.co/Zf099Zt/Around-the-World-2-1.png">
        </div>
      </div>

  <div class="section-content">
      
      <h2 class="medium no-text-transform "><div style="font-size: 56px; font-weight: bolder;">Download the <span style="white-space: nowrap;">GlobalPallet</span> app today.</div></h2>
      
      
      <p class="copy">Everything At <span style="white-space:nowrap">GlobalPallet.</span>About Hygiene & Quality. </p>
      
  </div>

</div>
